In [1]:
import numpy as np
import pandas as pd

In [2]:
## Source: https://covidtracking.com/api/states/daily.csv

## Reading in the COVID data
daily = pd.read_csv("states_daily.csv")

## Condensing to just desired fields
daily = daily[['date','state','positive','death']]

## Check it out
daily.head(10)

       date state  positive  death
0  20200416    AK     300.0    9.0
1  20200416    AL    4345.0  133.0
2  20200416    AR    1620.0   37.0
3  20200416    AS       0.0    NaN
4  20200416    AZ    4234.0  150.0
5  20200416    CA   26182.0  890.0
6  20200416    CO    8280.0  357.0
7  20200416    CT   15884.0  971.0
8  20200416    DC    2350.0   81.0
9  20200416    DE    2075.0   52.0

In [3]:
## Filtering for current data
daily_current = daily[daily['date'] == 20200416]

## Changing column names
daily_current = daily_current.rename(columns = {"positive":"positive_0416"})
daily_current = daily_current.rename(columns = {"death":"death_0416"})

## Dropping date column
daily_current = daily_current.drop(columns = 'date')

## Check it out
daily_current.head(10)

  state  positive_0416  death_0416
0    AK          300.0         9.0
1    AL         4345.0       133.0
2    AR         1620.0        37.0
3    AS            0.0         NaN
4    AZ         4234.0       150.0
5    CA        26182.0       890.0
6    CO         8280.0       357.0
7    CT        15884.0       971.0
8    DC         2350.0        81.0
9    DE         2075.0        52.0

In [4]:
## Filtering for end of March data
daily_march = daily[daily['date'] == 20200328]

## Changing positive column name
daily_march = daily_march.rename(columns = {"positive":"positive_0328"})
daily_march = daily_march.rename(columns = {"death":"death_0328"})

## Dropping date column
daily_march = daily_march.drop(columns = 'date')

## Check it out
daily_march.head(10)

     state  positive_0328  death_0328
1064    AK           85.0         2.0
1065    AL          696.0         3.0
1066    AR          404.0         5.0
1067    AS            NaN         0.0
1068    AZ          873.0        15.0
1069    CA         4643.0       101.0
1070    CO         1734.0        31.0
1071    CT         1291.0        27.0
1072    DC          304.0         4.0
1073    DE          214.0         3.0

In [5]:
## Merging the daily data
covid = pd.merge(daily_current, daily_march, left_on = 'state', right_on = 'state')

## Check it out
covid.head(10)

  state  positive_0416  death_0416  positive_0328  death_0328
0    AK          300.0         9.0           85.0         2.0
1    AL         4345.0       133.0          696.0         3.0
2    AR         1620.0        37.0          404.0         5.0
3    AS            0.0         NaN            NaN         0.0
4    AZ         4234.0       150.0          873.0        15.0
5    CA        26182.0       890.0         4643.0       101.0
6    CO         8280.0       357.0         1734.0        31.0
7    CT        15884.0       971.0         1291.0        27.0
8    DC         2350.0        81.0          304.0         4.0
9    DE         2075.0        52.0          214.0         3.0

In [6]:
## Source: https://www2.census.gov/programs-surveys/popest/tables/2010-2019/state/totals/nst-est2019-01.xlsx

## Read in the population data
population = pd.read_excel('population.xlsx', skiprows = 3)

## Fixing column names
population.columns.values[0] = "state_long"
population.columns.values[12] = "population_2019"

## Filtering for just relevant columns
population = population[['state_long','population_2019']]

## Getting rid of the periods in state names
population['state_long'] = population['state_long'].str.replace('.','')

## Check it out
population.head(10)

      state_long  population_2019
0  United States      328239523.0
1      Northeast       55982803.0
2        Midwest       68329004.0
3          South      125580448.0
4           West       78347268.0
5        Alabama        4903185.0
6         Alaska         731545.0
7        Arizona        7278717.0
8       Arkansas        3017804.0
9     California       39512223.0

In [7]:
## Abbreviation dict
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

## Abbreviation dataframe
us_state_abbrev = pd.DataFrame.from_dict(us_state_abbrev, orient = 'index', columns = ['abbrev'])

## Check it out
us_state_abbrev.head()

               abbrev
Alabama            AL
Alaska             AK
American Samoa     AS
Arizona            AZ
Arkansas           AR

In [8]:
## Merging in the abbrevs
population = pd.merge(population, us_state_abbrev, how = 'left', left_on = 'state_long', right_index = True)

## Check it out
population.head(10)

      state_long  population_2019 abbrev
0  United States      328239523.0    NaN
1      Northeast       55982803.0    NaN
2        Midwest       68329004.0    NaN
3          South      125580448.0    NaN
4           West       78347268.0    NaN
5        Alabama        4903185.0     AL
6         Alaska         731545.0     AK
7        Arizona        7278717.0     AZ
8       Arkansas        3017804.0     AR
9     California       39512223.0     CA

In [9]:
## Merging population into the covid data
covid = pd.merge(covid, population, how = 'left', left_on = 'state', right_on = 'abbrev')

## Check it out
covid.head()

,state,positive_0416,death_0416,positive_0328,death_0328,state_long,population_2019,abbrev
0,AK,300.0,9.0,85.0,2.0,Alaska,731545.0,AK
1,AL,4345.0,133.0,696.0,3.0,Alabama,4903185.0,AL
2,AR,1620.0,37.0,404.0,5.0,Arkansas,3017804.0,AR
3,AS,0.0,NaN,NaN,0.0,NaN,NaN,NaN
4,AZ,4234.0,150.0,873.0,15.0,Arizona,7278717.0,AZ

In [10]:
## Narrowing to just 50 states + DC
covid = covid[covid.state != 'AS']
covid = covid[covid.state != 'GU']
covid = covid[covid.state != 'MP']
covid = covid[covid.state != 'PR']
covid = covid[covid.state != 'VI']

In [11]:
## Calculating positive & death rates
covid['positive_rate_0416'] = covid['positive_0416'] / covid['population_2019']
covid['death_rate_0416'] = covid['death_0416'] / covid['population_2019']
covid['positive_rate_0328'] = covid['positive_0328'] / covid['population_2019']
covid['death_rate_0328'] = covid['death_0328'] / covid['population_2019']

## Check it out
covid.head(10)

,state,positive_0416,death_0416,positive_0328,death_0328,state_long,population_2019,abbrev,positive_rate_0416,death_rate_0416,positive_rate_0328,death_rate_0328
0,AK,300.0,9.0,85.0,2.0,Alaska,731545.0,AK,0.000410,0.000012,0.000116,2.733940e-06
1,AL,4345.0,133.0,696.0,3.0,Alabama,4903185.0,AL,0.000886,0.000027,0.000142,6.118472e-07
2,AR,1620.0,37.0,404.0,5.0,Arkansas,3017804.0,AR,0.000537,0.000012,0.000134,1.656834e-06
4,AZ,4234.0,150.0,873.0,15.0,Arizona,7278717.0,AZ,0.000582,0.000021,0.000120,2.060803e-06
5,CA,26182.0,890.0,4643.0,101.0,California,39512223.0,CA,0.000663,0.000023,0.000118,2.556171e-06
6,CO,8280.0,357.0,1734.0,31.0,Colorado,5758736.0,CO,0.001438,0.000062,0.000301,5.383126e-06
7,CT,15884.0,971.0,1291.0,27.0,Connecticut,3565287.0,CT,0.004455,0.000272,0.000362,7.573023e-06
8,DC,2350.0,81.0,304.0,4.0,District of Columbia,705749.0,DC,0.003330,0.000115,0.000431,5.667737e-06
9,DE,2075.0,52.0,214.0,3.0,Delaware,973764.0,DE,0.002131,0.000053,0.000220,3.080829e-06
10,FL,22897.0,646.0,3763.0,54.0,Florida,21477737.0,FL,0.001066,0.000030,0.000175,2.514231e-06

In [12]:
## Sorting
covid.sort_values(by=['positive_rate_0416'], ascending = False)

,state,positive_0416,death_0416,positive_0328,death_0328,state_long,population_2019,abbrev,positive_rate_0416,death_rate_0416,positive_rate_0328,death_rate_0328
37,NY,222284.0,12192.0,52318.0,728.0,New York,19453561.0,NY,0.011426,0.000627,0.002689,3.742245e-05
34,NJ,75317.0,3518.0,11124.0,140.0,New Jersey,8882190.0,NJ,0.008480,0.000396,0.001252,1.576188e-05
20,LA,22532.0,1156.0,3315.0,137.0,Louisiana,4648794.0,LA,0.004847,0.000249,0.000713,2.947001e-05
21,MA,32181.0,1245.0,4257.0,44.0,Massachusetts,6892503.0,MA,0.004669,0.000181,0.000618,6.383748e-06
7,CT,15884.0,971.0,1291.0,27.0,Connecticut,3565287.0,CT,0.004455,0.000272,0.000362,7.573023e-06
43,RI,3838.0,105.0,239.0,NaN,Rhode Island,1059361.0,RI,0.003623,0.000099,0.000226,NaN
8,DC,2350.0,81.0,304.0,4.0,District of Columbia,705749.0,DC,0.003330,0.000115,0.000431,5.667737e-06
24,MI,29263.0,2093.0,9287.0,92.0,Michigan,9986857.0,MI,0.002930,0.000210,0.000930,9.212107e-06
41,PA,27735.0,707.0,2751.0,34.0,Pennsylvania,12801989.0,PA,0.002166,0.000055,0.000215,2.655837e-06
9,DE,2075.0,52.0,214.0,3.0,Delaware,973764.0,DE,0.002131,0.000053,0.000220,3.080829e-06
16,IL,25733.0,1072.0,3491.0,47.0,Illinois,12671821.0,IL,0.002031,0.000085,0.000275,3.709017e-06
22,MD,10784.0,392.0,992.0,5.0,Maryland,6045680.0,MD,0.001784,0.000065,0.000164,8.270368e-07
45,SD,1311.0,7.0,68.0,1.0,South Dakota,884659.0,SD,0.001482,0.000008,0.000077,1.130379e-06
11,GA,15669.0,587.0,2366.0,69.0,Georgia,10617423.0,GA,0.001476,0.000055,0.000223,6.498752e-06
6,CO,8280.0,357.0,1734.0,31.0,Colorado,5758736.0,CO,0.001438,0.000062,0.000301,5.383126e-06
17,IN,9542.0,477.0,1232.0,31.0,Indiana,6732219.0,IN,0.001417,0.000071,0.000183,4.604722e-06
52,WA,10783.0,567.0,4707.0,211.0,Washington,7614893.0,WA,0.001416,0.000074,0.000618,2.770886e-05
51,VT,768.0,35.0,211.0,12.0,Vermont,623989.0,VT,0.001231,0.000056,0.000338,1.923111e-05
28,MS,3624.0,129.0,663.0,13.0,Mississippi,2976149.0,MS,0.001218,0.000043,0.000223,4.368061e-06
36,NV,3321.0,137.0,621.0,10.0,Nevada,3080156.0,NV,0.001078,0.000044,0.000202,3.246589e-06
10,FL,22897.0,646.0,3763.0,54.0,Florida,21477737.0,FL,0.001066,0.000030,0.000175,2.514231e-06
46,TN,6262.0,141.0,1373.0,6.0,Tennessee,6829174.0,TN,0.000917,0.000021,0.000201,8.785836e-07
15,ID,1587.0,41.0,230.0,4.0,Idaho,1787065.0,ID,0.000888,0.000023,0.000129,2.238307e-06
1,AL,4345.0,133.0,696.0,3.0,Alabama,4903185.0,AL,0.000886,0.000027,0.000142,6.118472e-07
33,NH,1139.0,32.0,187.0,2.0,New Hampshire,1359711.0,NH,0.000838,0.000024,0.000138,1.470901e-06
48,UT,2683.0,21.0,602.0,2.0,Utah,3205958.0,UT,0.000837,0.000007,0.000188,6.238385e-07
26,MO,5111.0,152.0,838.0,10.0,Missouri,6137428.0,MO,0.000833,0.000025,0.000137,1.629347e-06
49,VA,6889.0,208.0,739.0,17.0,Virginia,8535519.0,VA,0.000807,0.000024,0.000087,1.991677e-06
38,OH,8414.0,389.0,1406.0,25.0,Ohio,11689100.0,OH,0.000720,0.000033,0.000120,2.138745e-06
44,SC,3656.0,107.0,539.0,13.0,South Carolina,5148714.0,SC,0.000710,0.000021,0.000105,2.524902e-06
35,NM,1484.0,36.0,191.0,1.0,New Mexico,2096829.0,NM,0.000708,0.000017,0.000091,4.769106e-07
14,IA,2141.0,60.0,298.0,3.0,Iowa,3155070.0,IA,0.000679,0.000019,0.000094,9.508505e-07
53,WI,3875.0,197.0,989.0,13.0,Wisconsin,5822434.0,WI,0.000666,0.000034,0.000170,2.232743e-06
5,CA,26182.0,890.0,4643.0,101.0,California,39512223.0,CA,0.000663,0.000023,0.000118,2.556171e-06
39,OK,2357.0,131.0,377.0,15.0,Oklahoma,3956971.0,OK,0.000596,0.000033,0.000095,3.790778e-06
23,ME,796.0,27.0,211.0,1.0,Maine,1344212.0,ME,0.000592,0.000020,0.000157,7.439303e-07
4,AZ,4234.0,150.0,873.0,15.0,Arizona,7278717.0,AZ,0.000582,0.000021,0.000120,2.060803e-06
47,TX,16455.0,393.0,2052.0,27.0,Texas,28995881.0,TX,0.000567,0.000014,0.000071,9.311667e-07
18,KS,1588.0,80.0,261.0,5.0,Kansas,2913314.0,KS,0.000545,0.000027,0.000090,1.716259e-06
2,AR,1620.0,37.0,404.0,5.0,Arkansas,3017804.0,AR,0.000537,0.000012,0.000134,1.656834e-06
30,NC,5465.0,131.0,935.0,4.0,North Carolina,10488084.0,NC,0.000521,0.000012,0.000089,3.813852e-07
31,ND,393.0,9.0,83.0,1.0,North Dakota,762062.0,ND,0.000516,0.000012,0.000109,1.312229e-06
19,KY,2291.0,122.0,302.0,8.0,Kentucky,4467673.0,KY,0.000513,0.000027,0.000068,1.790641e-06
55,WY,296.0,2.0,82.0,0.0,Wyoming,578759.0,WY,0.000511,0.000003,0.000142,0.000000e+00
32,NE,952.0,21.0,96.0,2.0,Nebraska,1934408.0,NE,0.000492,0.000011,0.000050,1.033908e-06
54,WV,739.0,13.0,96.0,0.0,West Virginia,1792147.0,WV,0.000412,0.000007,0.000054,0.000000e+00
40,OR,1736.0,64.0,479.0,13.0,Oregon,4217737.0,OR,0.000412,0.000015,0.000114,3.082222e-06
0,AK,300.0,9.0,85.0,2.0,Alaska,731545.0,AK,0.000410,0.000012,0.000116,2.733940e-06
29,MT,415.0,7.0,129.0,1.0,Montana,1068778.0,MT,0.000388,0.000007,0.000121,9.356480e-07
13,HI,530.0,9.0,120.0,NaN,Hawaii,1415872.0,HI,0.000374,0.000006,0.000085,NaN
25,MN,1912.0,94.0,441.0,5.0,Minnesota,5639632.0,MN,0.000339,0.000017,0.000078,8.865827e-07

In [13]:
## Source: https://oui.doleta.gov/unemploy/claims.asp

## Reading in the unemployment claims data
unemployment = pd.read_excel('unemployment_claims.xlsx', skiprows = 4)

## Check it out
unemployment.head()

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Alabama,2020-01-04,4578.0,2019-12-28,18523.0,1923741.0,0.96,NaN,NaN,NaN
1,Alabama,2020-01-11,3629.0,2020-01-04,21143.0,1923741.0,1.10,NaN,NaN,NaN
2,Alabama,2020-01-18,2483.0,2020-01-11,17402.0,1923741.0,0.90,NaN,NaN,NaN
3,Alabama,2020-01-25,2129.0,2020-01-18,18390.0,1923741.0,0.96,NaN,NaN,NaN
4,Alabama,2020-02-01,2170.0,2020-01-25,17284.0,1923741.0,0.90,NaN,NaN,NaN

In [14]:
## Narrowing down to just last 3 weeks
unemployment = unemployment[unemployment['Filed week ended'] > '2020-03-20']

## Check it out 
unemployment.head(10)

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate,Unnamed: 7,Unnamed: 8,Unnamed: 9
11,Alabama,2020-03-21,10892.0,2020-03-14,12487.0,1923741.0,0.65,NaN,NaN,NaN
12,Alabama,2020-03-28,80984.0,2020-03-21,18083.0,1923741.0,0.94,NaN,NaN,NaN
13,Alabama,2020-04-04,106739.0,2020-03-28,52176.0,1923741.0,2.71,NaN,NaN,NaN
25,Alaska,2020-03-21,7847.0,2020-03-14,8512.0,307329.0,2.77,NaN,NaN,NaN
26,Alaska,2020-03-28,13774.0,2020-03-21,11173.0,307329.0,3.64,NaN,NaN,NaN
27,Alaska,2020-04-04,14590.0,2020-03-28,19845.0,307329.0,6.46,NaN,NaN,NaN
39,Arkansas,2020-03-21,9275.0,2020-03-14,10988.0,1195622.0,0.92,NaN,NaN,NaN
40,Arkansas,2020-03-28,27756.0,2020-03-21,16148.0,1195622.0,1.35,NaN,NaN,NaN
41,Arkansas,2020-04-04,62086.0,2020-03-28,36499.0,1195622.0,3.05,NaN,NaN,NaN
53,Arizona,2020-03-21,29348.0,2020-03-14,18108.0,2864180.0,0.63,NaN,NaN,NaN

In [15]:
## Getting the total initial claims by state
unemployment = pd.DataFrame(unemployment.groupby(['State'])['Initial Claims'].sum())

## Check it out
unemployment.head()

            Initial Claims
State
Alabama           198615.0
Alaska             36211.0
Arizona           250716.0
Arkansas           99117.0
California       2163472.0

In [16]:
## Merging unemployment data into the rest of the data
covid = pd.merge(covid, unemployment, how = 'left', left_on = 'state_long', right_index = True)

## Check it out
covid.head(10)

,state,positive_0416,death_0416,positive_0328,death_0328,state_long,population_2019,abbrev,positive_rate_0416,death_rate_0416,positive_rate_0328,death_rate_0328,Initial Claims
0,AK,300.0,9.0,85.0,2.0,Alaska,731545.0,AK,0.000410,0.000012,0.000116,2.733940e-06,36211.0
1,AL,4345.0,133.0,696.0,3.0,Alabama,4903185.0,AL,0.000886,0.000027,0.000142,6.118472e-07,198615.0
2,AR,1620.0,37.0,404.0,5.0,Arkansas,3017804.0,AR,0.000537,0.000012,0.000134,1.656834e-06,99117.0
4,AZ,4234.0,150.0,873.0,15.0,Arizona,7278717.0,AZ,0.000582,0.000021,0.000120,2.060803e-06,250716.0
5,CA,26182.0,890.0,4643.0,101.0,California,39512223.0,CA,0.000663,0.000023,0.000118,2.556171e-06,2163472.0
6,CO,8280.0,357.0,1734.0,31.0,Colorado,5758736.0,CO,0.001438,0.000062,0.000301,5.383126e-06,127938.0
7,CT,15884.0,971.0,1291.0,27.0,Connecticut,3565287.0,CT,0.004455,0.000272,0.000362,7.573023e-06,91791.0
8,DC,2350.0,81.0,304.0,4.0,District of Columbia,705749.0,DC,0.003330,0.000115,0.000431,5.667737e-06,45660.0
9,DE,2075.0,52.0,214.0,3.0,Delaware,973764.0,DE,0.002131,0.000053,0.000220,3.080829e-06,48764.0
10,FL,22897.0,646.0,3763.0,54.0,Florida,21477737.0,FL,0.001066,0.000030,0.000175,2.514231e-06,472682.0

In [17]:
## Calculating claims rate
covid['claims_rate'] = covid['Initial Claims'] / covid['population_2019']

## Check it out
covid.head(10)

,state,positive_0416,death_0416,positive_0328,death_0328,state_long,population_2019,abbrev,positive_rate_0416,death_rate_0416,positive_rate_0328,death_rate_0328,Initial Claims,claims_rate
0,AK,300.0,9.0,85.0,2.0,Alaska,731545.0,AK,0.000410,0.000012,0.000116,2.733940e-06,36211.0,0.049499
1,AL,4345.0,133.0,696.0,3.0,Alabama,4903185.0,AL,0.000886,0.000027,0.000142,6.118472e-07,198615.0,0.040507
2,AR,1620.0,37.0,404.0,5.0,Arkansas,3017804.0,AR,0.000537,0.000012,0.000134,1.656834e-06,99117.0,0.032844
4,AZ,4234.0,150.0,873.0,15.0,Arizona,7278717.0,AZ,0.000582,0.000021,0.000120,2.060803e-06,250716.0,0.034445
5,CA,26182.0,890.0,4643.0,101.0,California,39512223.0,CA,0.000663,0.000023,0.000118,2.556171e-06,2163472.0,0.054754
6,CO,8280.0,357.0,1734.0,31.0,Colorado,5758736.0,CO,0.001438,0.000062,0.000301,5.383126e-06,127938.0,0.022216
7,CT,15884.0,971.0,1291.0,27.0,Connecticut,3565287.0,CT,0.004455,0.000272,0.000362,7.573023e-06,91791.0,0.025746
8,DC,2350.0,81.0,304.0,4.0,District of Columbia,705749.0,DC,0.003330,0.000115,0.000431,5.667737e-06,45660.0,0.064697
9,DE,2075.0,52.0,214.0,3.0,Delaware,973764.0,DE,0.002131,0.000053,0.000220,3.080829e-06,48764.0,0.050078
10,FL,22897.0,646.0,3763.0,54.0,Florida,21477737.0,FL,0.001066,0.000030,0.000175,2.514231e-06,472682.0,0.022008

In [18]:
## Expressing the rates as # people per 1000
covid['positive_rate_0416_1000'] = covid['positive_rate_0416'] * 1000
covid['death_rate_0416_1000'] = covid['death_rate_0416'] * 1000
covid['positive_rate_0328_1000'] = covid['positive_rate_0328'] * 1000
covid['death_rate_0328_1000'] = covid['death_rate_0328'] * 1000
covid['claims_rate_1000'] = covid['claims_rate'] * 1000

In [19]:
## Exporting
covid.to_csv('covid19_unemployment.csv')